html, body, div, span, header, h1, article, nav, ul, li, a, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//HTML
html {
  font: 10px 'Calibri', 'Arial', sans-serif;
  color: #000;
  //BODY
  body {
    text-align: center;
    background-color: #333;
    //CALCULATOR WRAPPER
    #calculator-window {
      margin: 5% auto;
      width: 34rem;
      height: 100%;
      padding: 1rem;
      background-color: #EEE;
      border-radius: 1%;
      box-shadow: 0 0 1rem #FFF;
      header {
        //CALCULATOR TITLE
        #calculator-title {
          width: 100%;
          height: 2.5rem;
          padding-bottom: 1rem;
          font-family: monospace, sans-serif;
          font-size: 1.6rem;
          color: #777;
        }
        //CALCULATOR NAVIGATION BAR
        #calculator-navigation-bar {
          position: relative;
          text-align: left;
          ul {
            list-style-type: none;
            li {
              a {
                text-decoration: none;
                color: #333;
              }
              display: inline-block;
              font-size: 1.4rem;
              padding: 0.5rem;
              //MENUS
              &#file:hover, &#edit:hover, &#about:hover {
                background-color: #CCC;
                cursor: pointer;
              }
              &file #file-menu, &edit #edit-menu, &#about #about-menu {
                li {
                  display: block;
                }
              }
              &#file {
                #file-menu {
                  display: none;
                  position: absolute;
                  top: 2.8rem;
                  left: 0;
                  background-color: #CCC;
                  text-align: center;
                }
                &:hover #file-menu {
                  display: block;
                }
              }
              &#edit {
                #edit-menu {
                  display: none;
                  position: absolute;
                  top: 2.8rem;
                  left: 0;
                  background-color: #CCC;
                  text-align: center;
                }
                &:hover #edit-menu {
                  display: block;
                }
              }
              &#about {
                #about-menu {
                  display: none;
                  position: absolute;
                  top: 2.8rem;
                  left: 6.6rem;
                  background-color: #CCC;
                  text-align: center;
                }
                &:hover #about-menu {
                  display: block;
                }
              }
            }
          }
        }
      }
      //CALCULATOR BODY
      #calculator-body {
        width: 100%;
        padding: 1rem;
        background-color: #DDD;
        border: solid 0.1rem #CCC;
        //CALCULATOR DISPLAY
        #calculator-display {
          #input {
            width: 100%;
            padding: 1rem;
            font-size: 4rem;
            text-align: right;
            border: solid 0.1rem #CCC;
          }
        }
        //CALCULATOR KEYPAD
        #calculator-keypad {
          width: 100%;
          height: 100%;
          padding-top: 2rem;
          cursor: pointer;
          div {
            height: 25%;
            &:first-of-type {
              width: 100%;
              text-align: right;
            }
          }
          button {
            font-size: 4rem;
            padding: 1rem;
            margin: 0.5rem 0 0 0.3rem;
            width: 7rem;
            color: #555;
            border: none;
            outline: none;
            cursor: pointer;
            &:first-of-type {
              margin-left: 0;
            }
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
}