// FONTS

// SANSA PRO NORMAL
@font-face {
  font-family: 'SansaPro-Normal';
  src: url('../fonts/SansaPro-Normal.otf');
}

// SANSA CON PRO UltraBlack
@font-face {
  font-family: 'SansaConPro-Ultrablack';
  src: url('../fonts/SansaConPro-UltraBlack.otf');
}

// SANSA PRO SemiBold
@font-face {
  font-family: 'SansaPro-SemiBold';
  src: url('../fonts/SansaPro-SemiBold.otf');
}